/* ========== VARS ========== */

// <color variables>
$primaryColor: #9ca3c4;
$textColor: #ffffff;
$secondaryColor: #ffca36;
$black: #0c0e12;
$accent: #6153e1;
$bgColor: #181036;
$workTextColor: #7b708c;

// </color variables>

// <font variables>
$fontWeight: 400;
$fontSize: 16px;
$fontFamily: "IBM Plex Sans", sans-serif;
// </font variables>
