<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__inner">
				<div class="footer__logo">
					<div class="logo">
						<a class="logo__link" href="#">
							<img class="logo__icon" src="./img/icons/logo-icon.svg" alt="Logo" />
						</a>
					</div>
					<p class="footer__subtitle">
						Tokenised investment platform for athletes and sports clubs
					</p>
					<div class="footer__social">
						<ul class="social__list">
							<li class="social__list-item">
								<a href="#" class="social__item-link">
									<img class="social__item-icon" src="./img/icons/instagram.svg" alt="" />
								</a>
							</li>
							<li class="social__list-item">
								<a href="#" class="social__item-link">
									<img class="social__item-icon" src="./img/icons/twitter.svg" alt="" />
								</a>
							</li>
							<li class="social__list-item">
								<a href="#" class="social__item-link">
									<img class="social__item-icon" src="./img/icons/telegram.svg" alt="" />
								</a>
							</li>
							<li class="social__list-item">
								<a href="#" class="social__item-link">
									<img class="social__item-icon" src="./img/icons/social.svg" alt="" />
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__wrapper">
					<div class="site__map">
						<span class="site__map-title">Site map</span>
						<ul class="map">
							<li class="map__item"><a href="" class="map__item-link">Presale</a></li>
							<li class="map__item"><a href="" class="map__item-link">About the project</a></li>
							<li class="map__item"><a href="" class="map__item-link">Contacts</a></li>
						</ul>
					</div>
					<div class="contact">
						<span class="contact-title">Contact</span>
						<a class="contact-link" href="mailto:ceo@sportinvesting.com">ceo@sportinvesting.com</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="copyright">© 2021 Sportinvesting. All rights reserved</p>
		</div>
	</div>
</footer>
