<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="logo">
				<a class="logo__link" href="#">
					<img class="logo__icon" src="./img/icons/logo-icon.svg" alt="Logo" />
				</a>
			</div>

			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__list-item">
						<a class="nav__link" href="#">How it works</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">What is an SIT?</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Features</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">How to buy</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Tokensale</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Tokenomics</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Monetisation</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Roadmap</a>
					</li>
					<li class="nav__list-item">
						<a class="nav__link" href="#">Team</a>
					</li>
				</ul>
			</nav>
			<div class="token">
				<a class="buy-token-link" href="#">Buy token</a>
			</div>
		</div>
	</div>
</header>
